# Python
__pycache__/
*.pyc
*.pyo

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Results
results/logs/*
results/plots/*

# Large files
notebooks/results/deepsea/test_sequences.fasta

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store